
$color-white : #fff; 
$color-black : #000 ;

$color-purple-light: #d6cae7;
$color-primary-dark: #2a1454;
$color-purple-dark: #400bac;
$color-red-dark: #b30452;
$color-purple-medium: #9616a6;
$color-grey: #b1a1bf;
$color-pink : #fa2fc7 ;