
$color-white : #fff ;
$color-black : #000 ;

$color-dark: #1a0938 ;
$color-blue-dark : #301a57 ;
$color-blue-light: #29d5ee ;


$color-purple-medium: #8f63ba ;
$color-pink-dark: #e41a9e ;
$color-red: #e11a9d ;
