.app {
    width: 40rem;
    height: 85rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: $color-dark ;
    display: flex;
    flex-direction: column ;
    position: relative;

    @include respond(big-phone) {
        width: 100% ;
        height: 90vh ;
        padding: 3rem ;
    } ; 



    &__nav {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 5rem;
        align-items: center;

        @include respond(big-phone) {


        }

    }

    &__nav-text-box {
        flex-grow: 1;
        text-align: center;
    }

    &__nav-heading-text {
        font-size: 2rem;
        text-transform: capitalize;
        color: $color-white ;

        @include respond(big-phone) {
            font-size: 3rem ;
        }

    }


    &__btn-home,
    &__btn-menu {
        flex-shrink: 0;
        font-size: 1.8rem;
        padding: .5rem;
        height: 3rem;
        width: 3rem;
        color: $color-white ;
        border-radius: 50%;
        background-color: transparent;

        @include respond(big-phone) {
            font-size: 2.5rem ;
            height: 4rem ;
            width: 4rem ;

        }
            
    }

    &__info-box {  
        width: 100% ;
        flex-grow: 1;   
        position: relative;
    }

    &__playing-box ,
    &__list-song-box {
        position: absolute ;
        top: 0;
        left: 0 ;
        width: 100% ;
        height: 100% ;
    }

    &__playing-box {
        display: inline-block ;
        opacity: 1;  
        visibility: visible;
    }

    &__playing-info {
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10% ; 
    } ;

    &__playing-photo {
        width: 100%;
        height: 80%;
    }

    &__cd-thumb {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;

    }

    &__playing-text-box {
        width: 100% ;
        height: 15% ;
        color: $color-white ;
        text-align: center ;
        text-transform: capitalize ;


        @include respond(big-phone) {
            margin-top: 15% ;
        }

    }
    
    &__playing-name {
        font-size: 2rem ;

        @include respond(big-phone) {
            font-size: 3.5rem 
        }

    }

    &__playing-artist {
        font-size: 1.4rem ;
        font-style: italic ;
        margin-top: .8rem ;

        @include respond(big-phone) {
            font-size: 2rem ;
        }

    }

    &__playing-control {
        width: 100% ;
        height: 35% ;
        text-align: center;

        @include respond(big-phone) {
            padding: 0 1.6rem ;
        }

    }

    &__time-bar {
        position: relative ;
        --width : 0% ;
        appearance: none;
        width: 100% ;
        height: .3rem ;
        border-radius: 5rem ;
        background-image: linear-gradient(to right , 
        #8f63ba 0% ,
        #e11a9d 0% ,
        #fff 0% ,
        #fff 100% 
        );
        z-index: 5 ;
        
        @include respond(big-phone) {
            margin-top:10% ;
            width: 98% ;
            height: .5rem ;
        }


        &::after {
            display: block; 
            position: absolute ;
            top: 0 ;
            left: 0 ;
            content: "" ;
            height: 100% ;
            width: var(--width);
            background-color: transparent ;
            box-shadow: 0 0 .8rem .1rem rgba($color-red , .7);
        }


        
        &::-webkit-slider-thumb {
            appearance: none;
            border-radius: 100% ;
            background-color: $color-red ;
            width: 1.2rem ;
            height: 1.2rem ;
        }


    }
    
    &__control-button {
        display: flex ;
        width: 100% ;
        justify-content: center ;
        margin-top: 10% ;
        align-self: center;
        column-gap: 10% ;

        @include respond(big-phone) {
            margin-top: 15% ;
        }

    }

    &__list-song-box {
        display: inline-block; 
        flex-direction: column ;
        padding: 2rem .2rem 0rem ;
        color: $color-white ;
        width: 100% ;
        row-gap: 3rem ;
        opacity: 0 ;
        visibility: hidden;
    }   

    &__list-songs {
        list-style: none ;        
        width: 100% ;
        height: 65% ;
        overflow-y: scroll ;
        scroll-behavior: smooth ;
        appearance: none;
        padding: 1.6rem .5rem .5rem;

        &::-webkit-scrollbar {
            appearance: none;
            height: 100% ;
            width: 0 ;
            
        }

    }

    &__song-box {
        display: flex ;
        padding: .1rem 2rem ;
        flex-wrap: nowrap ;
        height: 10rem ;
        width: 90% ;
        margin: 0 auto;
        border-radius: 15rem ;
        box-shadow: 0 0 1rem .1rem rgba($color-red , .4);
        align-items: center;
        column-gap: 8% ;
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 2.4rem ;

        }
    }

    &__song-thumb {
        height: 100% ;
        width: 25% ;
        display: flex;
        align-items: center;
        z-index: 10;
    }

    &__song-photo {
        width: 100% ;
        padding-bottom: 100% ;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: none ;
    }

    &__song-info {
        height: 100% ;
        width: 70% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: .8rem ;

    }

    &__info-text-box {
        display: inline-block;
        width: 90% ;
        height: 30% ;
        position: relative;
        overflow: hidden;
    }

    &__song-info-name ,
    &__song-info-artist {  
        display: -webkit-box;
        -webkit-line-clamp: 1 ;
        -webkit-box-orient: vertical ;
        text-transform: capitalize ;

    }



    &__song-info-name {
        font-size: 1.7rem ;
    }

    &__song-info-artist {
        font-size: 1.4rem ;
    }


    &__small-playing-song-box {
        position: absolute;
        bottom: 0;
        margin-bottom: -2rem ;
        padding: 2rem ;
        width: 100% ;
        height: 34% ;
        z-index: 10;
        color: $color-black ;
        border-radius: 5rem 5rem 0 0 ;
        background-color: white;
        text-transform: capitalize ;
     
    }

    &__small-photo {
        position: absolute;
        top: 0 ;
        left: 0 ;
        width: 100% ;
        height: 100% ;
        z-index: -1;
        object-fit: cover;
        border-radius: 5rem 5rem 0 0 ;
        filter: blur(.3rem) brightness(40%);
    }

    &__small-info-box {
        width: 100% ;   
        margin-bottom: 2rem ;
    }

    &__small-info-text-box {
        width: 100% ;
        text-align: center;
        position: relative;
        
    }


    &__small-playing-name ,
    &__small-playing-artist {
        color: $color-white;
        width: 100% ;

    }

    &__small-playing-name {
        font-size: 2rem ;
        text-transform: capitalize;
        line-height: 2;
    }

    &__small-playing-artist {
        font-size: 1.5rem ;
        font-style: italic;

    }

    &__small-ctr-box {
        display: flex ;
        flex-direction: column;
        row-gap: 3.2rem ;
    }

    &__small-time-bar {
        appearance: none;
        --width : 0 ;
        width: 100% ;
        height: .2rem ;
        border-radius: 10rem ;
        position: relative ;
        background-image: linear-gradient(to right  ,
        #29d5ee  0% ,
        #8f63ba 0% ,
        #fff 0% ,
        #fff 100% 
        );

        &::-webkit-slider-thumb {
            appearance: none;
            width: 1.2rem ;
            height: 1.2rem ;
            background-color: aqua;
            border-radius: 50% ;
        }
        
        &::after {
            display: block; 
            position: absolute ;
            top: 0 ;
            left: 0 ;
            content: "" ;
            height: 100% ;
            width: var(--width);
            background-color: transparent ;
            box-shadow: 0 0 .8rem .1rem rgba($color-blue-light , .7);
        }



    }


    &__s-button-box {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10% ;
        width: 100% ;
        flex-grow: 1 ;  

        & button {
            width: 4.5rem ;
            height: 4.5rem ;
            border-radius: 50%;
        }

        & button:nth-child(2) {
            width: 5.5rem ;
            height: 5.5rem ;
            font-size: 2.4rem ;

            & i {
                margin-left: 5% ;
            }

        }

    }
}