
html {
    font-family: "Lato" , sans-serif;
    font-size: 62.5% ;
    background-color: $color-white ;
    text-rendering: optimizeLegibility ;

    @include respond(big-phone) {
        font-size: 56% ;
        overflow: hidden;
    } ;

    @include respond(phone) {
        font-size: 42.5% ;
    } ;

}


body {
    font-size: 1.6rem ;
    box-sizing: border-box ;
    line-height: 1.7;
    color: $color-black ;

    @include respond(big-phone) {
        overflow: hidden;
    }


}

* ,
*::before ,
*::after {
    margin: 0; 
    padding: 0 ;
    box-sizing: inherit ;
}